from qaspen.sql_type import primitive_types

from qaspen_migrations.migration.base import BaseMigration
from qaspen_migrations.schema.column_info import ColumnInfoSchema


class Migration(BaseMigration):
    current_version: str = {{current_version}}
    previous_version: str = {{previous_version}}
    created_datetime: str = {{created_datetime}}
